# Gemini Configuration
GEMINI__API_KEY="AIzaSyD4DvCuTCVT88Vy98-MIvaNWLnBMtI20Tg"

# Neo4j Configuration
NEO4J__URI=neo4j://localhost:7687
NEO4J__USERNAME=neo4j
NEO4J__PASSWORD=neo4j
NEO4J__DATABASE=neo4j

# Qdrant Configuration not used
QDRANT__URL=http://localhost:6333
QDRANT__API_KEY=
QDRANT__COLLECTION_NAME=biomedical_papers
QDRANT__EMBEDDING_DIMENSION=1536
QDRANT__EMBEDDING_MODEL=text-embedding-3-small
JSON__DATA_PATH=data/pubmed_sample.json

# PubMed Configuration     ←—---- use it zy mahowa lw 3yzeen
PUBMED__API_KEY=42ea4f1f3f57611954a2e63d89b654176708
PUBMED__EMAIL=mh.shabana16@gmail.com


# Gemini Settings
GEMINI__API_KEY="AIzaSyD4DvCuTCVT88Vy98-MIvaNWLnBMtI20Tg"
GEMINI__MODEL=gemini-1.5-flash
GEMINI__TEMPERATURE=0.0
GEMINI__MAX_TOKENS=1500

# JSON Paths
JSON_DATA__PUBMED_JSON_PATH=data/pubmed_dataset.json
JSON_DATA__RADIOLOGY_JSON_PATH=/home/m.ismail/MMed-RAG/data/training/retriever/radiology/rad_iu.json

